Repository danieleschmidt/mobile-multi-mod-llm: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mobile-exports, check-quantization-accuracy, security-audit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=50000']
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies: [flake8-docstrings]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  - repo: https://github.com/gitguardian/ggshield
    rev: v1.21.0
    hooks:
      - id: ggshield
        language: python
        stages: [commit]

  # ADVANCED: Additional security and quality hooks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: ["--convention=google"]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pycqa/autoflake
    rev: v2.2.0
    hooks:
      - id: autoflake
        args: [--remove-all-unused-imports, --in-place]

  # ADVANCED: License and copyright enforcement
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: insert-license
        files: \.py$
        args:
          - --license-filepath
          - LICENSE_HEADER.txt
          - --comment-style
          - "#"

  # ADVANCED: Mobile-specific checks
  - repo: local
    hooks:
      - id: check-mobile-exports
        name: Validate mobile model exports
        entry: python scripts/validate_mobile_exports.py
        language: system
        files: ^(src/mobile_multimodal/export|scripts/export_models\.py)
        pass_filenames: false

      - id: check-quantization-accuracy
        name: Validate quantization accuracy
        entry: python scripts/check_quantization_drift.py
        language: system
        files: ^src/mobile_multimodal/quantization/
        pass_filenames: false

      - id: security-audit
        name: Advanced security audit
        entry: python scripts/security_audit.py
        language: system
        files: ^(src/|scripts/|tests/).*\.py$
        pass_filenames: false

feat(sdlc): Advanced SDLC optimization for mobile AI/ML excellence
  SDLC_ENHANCEMENTS_SUMMARY.md
  SLSA.md
  monitoring/mobile-observability.yml
  scripts/chaos-testing-runner.py
  scripts/check-slsa-compliance.sh
  scripts/dependency-auto-patcher.py
  scripts/mobile-telemetry-collector.py
  scripts/performance-regression-monitor.py
  tests/chaos/test_resilience.py
  tests/performance/test_regression.py
Due: security-audit

feat(sdlc): Enhanced GitHub integration and strategic roadmap
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  UPGRADE_ROADMAP.md
  docs/workflows/ci-cd-setup.md
Due: none

feat(sdlc): Excellence-level workflow automation & SDLC enhancements
  .gitattributes
  .github/ISSUE_TEMPLATE/mobile_compatibility.yml
  .github/ISSUE_TEMPLATE/performance_regression.yml
  .github/dependabot.yml
  ARCHITECTURE_DECISION_RECORD.md
  docs/workflows/README.md
  docs/workflows/WORKFLOW_TEMPLATES.md
  renovate.json
Due: none

feat(sdlc): Implement Terragon Autonomous SDLC Engine
  .terragon/README.md
  .terragon/__init__.py
  .terragon/autonomous_executor.py
  .terragon/pr_template.md
  .terragon/requirements.txt
  .terragon/scoring_engine.py
  .terragon/terragon_sdlc.py
  .terragon/value-config.yaml
  .terragon/value_discovery.py
  .terragon/value_metrics.py
  BACKLOG.md
Due: none

docs: establish project foundation and community files
  ARCHITECTURE.md
  PROJECT_CHARTER.md
  docs/UPGRADE_ROADMAP.md
  docs/adr/001-int2-quantization-choice.md
  docs/adr/template.md
Due: none

feat: setup development environment and code quality tools
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
  .env.example
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

test: establish comprehensive testing infrastructure
  pytest.ini
  tests/README.md
  tests/fixtures/__init__.py
  tests/fixtures/data_fixtures.py
  tests/fixtures/mobile_fixtures.py
  tests/fixtures/model_fixtures.py
  tests/integration/__init__.py
  tests/integration/test_end_to_end.py
  tests/logs/.gitkeep
  tests/unit/__init__.py
  tests/unit/test_model_components.py
Due: security-audit

build: add containerization and build automation
  .dockerignore
  .releaserc.json
  docs/BUILD.md
  scripts/build.sh
Due: none

ops: add monitoring and observability infrastructure
  docs/runbooks/README.md
  docs/runbooks/model-load-failure.md
  docs/runbooks/service-down.md
  monitoring/health-checks.yml
  monitoring/observability.yml
Due: none

docs: establish project foundation and community files
  ARCHITECTURE.md
  PROJECT_CHARTER.md
  README.md
  docs/ROADMAP.md
  docs/adr/README.md
Due: none

feat: setup development environment and code quality tools
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .env.example
Due: none

test: establish comprehensive testing infrastructure
  tests/e2e/__init__.py
  tests/fixtures/README.md
  tests/integration/__init__.py
  tests/integration/test_end_to_end.py
  tests/test_config.py
  tests/unit/__init__.py
  tests/unit/test_model_core.py
  tests/utils/__init__.py
  tests/utils/test_helpers.py
Due: security-audit

build: add containerization and build automation
  .github/dependabot.yml
  .releaserc.json
Due: none

ops: enhance monitoring and observability infrastructure
  docs/monitoring/README.md
  monitoring/telemetry.yml
Due: none

docs: add comprehensive CI/CD workflow documentation and templates
  docs/workflows/WORKFLOW_SETUP_GUIDE.md
  docs/workflows/examples/ci.yml
  docs/workflows/examples/mobile-build.yml
Due: none

feat: add metrics tracking and automation scripts
  .github/project-metrics.json
  scripts/automation/metrics_collector.py
  scripts/automation/repository_health_monitor.py
Due: security-audit

feat: complete SDLC integration and final configuration
  SDLC_IMPLEMENTATION_REPORT.json
  scripts/integration/continuous_monitoring.py
  scripts/integration/final_configuration.py
  scripts/integration/sdlc_integration.py
Due: security-audit

feat: implement foundation updates and core mobile multi-modal functionality
  ARCHITECTURE_DECISION_RECORD.md
  src/mobile_multimodal/__init__.py
  src/mobile_multimodal/core.py
  src/mobile_multimodal/models.py
  src/mobile_multimodal/quantization.py
  src/mobile_multimodal/utils.py
Due: security-audit

feat: implement development environment enhancements and comprehensive data layer
  .editorconfig
  .env.example
  .vscode/settings.json
  src/mobile_multimodal/data/__init__.py
  src/mobile_multimodal/data/cache.py
  src/mobile_multimodal/data/dataset.py
  src/mobile_multimodal/data/preprocessing.py
  src/mobile_multimodal/data/storage.py
Due: security-audit

Update README.md
  README.md
Due: none

feat(core): refactor MobileMultiModalLLM with security validation and mock mode
  src/mobile_multimodal/core.py
  src/mobile_multimodal/core_backup.py
  src/mobile_multimodal/export.py
  src/mobile_multimodal/models.py
  src/mobile_multimodal/models_backup.py
  src/mobile_multimodal/optimization.py
  src/mobile_multimodal/quantization_fixed.py
  src/mobile_multimodal/utils.py
  test_basic_imports.py
Due: check-mobile-exports, security-audit

feat(deployment, quantization): add production-ready deployment and INT2 quantization support
  IMPLEMENTATION_SUMMARY.md
  deployment/Dockerfile
  deployment/docker-compose.yml
  deployment/entrypoint.sh
  src/mobile_multimodal/export.py
  src/mobile_multimodal/quantization.py
  src/mobile_multimodal/quantization_backup.py
  test_basic_imports.py
Due: check-mobile-exports, security-audit

feat(deployment): add production deployment setup with Docker, Kubernetes, and monitoring
  deployment/Dockerfile.production
  deployment/docker-compose.production.yml
  deployment/healthcheck.py
  deployment/k8s/deployment.yaml
  deployment/production-deployment-guide.md
  mobile_multimodal_cache/cache_metadata.db
  requirements-prod.txt
  src/mobile_multimodal/core.py
  src/mobile_multimodal/monitoring.py
  src/mobile_multimodal/optimization.py
  src/mobile_multimodal/security.py
  src/mobile_multimodal/utils.py
Due: security-audit

feat(autonomous-sdlc): complete three-generation implementation
  mobile_multimodal_cache/094c2da5e94aa662aeda28b3f436af73.cache
  mobile_multimodal_cache/0d9193d3b038c04ce74c9ace8cb859ea.cache
  mobile_multimodal_cache/170fd34822bcb3fc9b7b721315659420.cache
  mobile_multimodal_cache/23fb8c9cf97aee528744051818cac281.cache
  mobile_multimodal_cache/4fe4e7170ced85fa8cad25ba0988a19f.cache
  mobile_multimodal_cache/5be0d7645aa5dc96315ee52916f7cc42.cache
  mobile_multimodal_cache/5f32320e92dc4d3a35c4a17124eefe4a.cache
  mobile_multimodal_cache/6e913e5a052aaef1e93443edf1755517.cache
  mobile_multimodal_cache/881041a0bc3781cea6aad7798e00175d.cache
  mobile_multimodal_cache/8a8334f30a0a26cc34a6c6fa8707d9f4.cache
  mobile_multimodal_cache/94fbf85a2786308b6e0c6201003b1712.cache
  mobile_multimodal_cache/9bad5105c22295e97d5ceb2a61ae4231.cache
  mobile_multimodal_cache/a4438c1f40dd5167ceb17e7ee5443203.cache
  mobile_multimodal_cache/bc67e5500db45389ffb278ecf7eb8162.cache
  mobile_multimodal_cache/cache_metadata.db
  mobile_multimodal_cache/cd235a4d02ef2c4dfaa795c44b266cab.cache
  mobile_multimodal_cache/d52fdc23a261e7b85b94499b6a4b84a7.cache
  mobile_multimodal_cache/db9e0046e89aab89440fb3b6c7ae07d2.cache
  mobile_multimodal_cache/e1b6380353078e6c3070c2488daf9e93.cache
  mobile_multimodal_cache/e3186dc9482796989b5856dbb46c19a3.cache
  mobile_multimodal_cache/e8bf159df027badef3de494b718d3a7a.cache
  pytest.ini
  src/mobile_multimodal/core.py
  src/mobile_multimodal/monitoring.py
Due: security-audit

feat(quality_gates): add comprehensive quality gates validation framework
  PRODUCTION_READINESS_SUMMARY.md
  quality_gate_results.json
  quality_gates.py
  src/mobile_multimodal/core_backup.py
  src/mobile_multimodal/models_backup.py
  src/mobile_multimodal/monitoring.py
  src/mobile_multimodal/optimization.py
  src/mobile_multimodal/quantization_backup.py
  src/mobile_multimodal/scripts/__init__.py
  src/mobile_multimodal/scripts/benchmark.py
  src/mobile_multimodal/scripts/export.py
  src/mobile_multimodal/scripts/train.py
  src/mobile_multimodal/security.py
  tests/test_basic.py
  tests/test_comprehensive.py
Due: security-audit

feat(mobile_multimodal): add advanced features including adaptive inference, security, testing, auto-scaling, distributed inference, and global deployment
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  docs/ADVANCED_FEATURES_GUIDE.md
  docs/GLOBAL_DEPLOYMENT_GUIDE.md
  quality_gate_results.json
  src/mobile_multimodal/__init__.py
  src/mobile_multimodal/advanced_security.py
  src/mobile_multimodal/advanced_testing.py
  src/mobile_multimodal/auto_scaling.py
  src/mobile_multimodal/core.py
  src/mobile_multimodal/distributed_inference.py
  src/mobile_multimodal/global_deployment.py
  src/mobile_multimodal/models.py
  src/mobile_multimodal/resilience.py
Due: security-audit

feat(autonomous_sdlc): complete 3-generation implementation with comprehensive testing
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  quality_gate_results.json
  src/mobile_multimodal/core.py
  test_basic_imports.py
  test_generation_2_robustness.py
  test_generation_3_scaling.py
  test_global_deployment.py
  test_quick_validation.py
Due: security-audit

feat(deployment): add comprehensive deployment, security, and monitoring setup
  DEPLOYMENT_GUIDE.md
  README_SELF_HEALING_PIPELINE_GUARD.md
  SECURITY_HARDENING_REPORT.md
  docker/Dockerfile.production
  docker/docker-compose.production.yml
  docker/entrypoint.sh
  docker/healthcheck.py
  kubernetes/deployment.yaml
  scripts/security_scanner.py
  src/mobile_multimodal/guard_config.py
  src/mobile_multimodal/guard_logging.py
  src/mobile_multimodal/guard_metrics.py
  src/mobile_multimodal/guard_orchestrator.py
  src/mobile_multimodal/pipeline_guard.py
  tests/test_guard_metrics.py
  tests/test_guard_orchestrator.py
  tests/test_pipeline_guard.py
Due: security-audit

docs(api): add comprehensive API reference and autonomous SDLC completion summary
  API_REFERENCE.md
  AUTONOMOUS_SDLC_COMPLETION_SUMMARY.md
Due: none

feat(deployment): add DEPLOYMENT_READY.md with production readiness details
  DEPLOYMENT_READY.md
  src/mobile_multimodal/__init__.py
  src/mobile_multimodal/core.py
  src/mobile_multimodal/monitoring.py
  src/mobile_multimodal/scripts/benchmark.py
  src/mobile_multimodal/security.py
  test_generation_2_robustness.py
  test_generation_3_scaling.py
Due: security-audit

feat(mobile_multimodal): add production-ready deployment and comprehensive quality gates
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  PRODUCTION_DEPLOYMENT_READY.md
  quick_quality_check.py
  run_quality_gates.py
  src/mobile_multimodal/enhanced_monitoring.py
  src/mobile_multimodal/resilience.py
  src/mobile_multimodal/security.py
  test_generation3.py
Due: security-audit

feat(mobile_multimodal): add generation 1 implementations for batch, realtime, export, security
  exports/android/mobile_multimodal_android_deployment_metadata.json
  exports/android/mobile_multimodal_android_onnx_metadata.json
  exports/embedded/mobile_multimodal_embedded_deployment_metadata.json
  exports/embedded/mobile_multimodal_embedded_tflite_metadata.json
  exports/ios/mobile_multimodal_ios.mlpackage/Manifest.json
  exports/ios/mobile_multimodal_ios_deployment_metadata.json
  src/mobile_multimodal/batch_processor.py
  src/mobile_multimodal/core.py
  src/mobile_multimodal/edge_export.py
  src/mobile_multimodal/realtime_pipeline.py
  src/mobile_multimodal/resilience_patterns.py
  src/mobile_multimodal/robust_error_handling.py
  src/mobile_multimodal/security.py
  src/mobile_multimodal/security_fixed.py
  test_generation1_validation.py
  test_generation2_validation.py
  test_results.json
Due: security-audit

feat(mobile_multimodal): add advanced mobile multi-modal LLM features and deployment guide
  ADVANCED_FEATURES_DEPLOYMENT_GUIDE.md
  AUTONOMOUS_SDLC_COMPLETION_REPORT_ADVANCED.md
  basic_quality_gates.py
  run_quality_gates_comprehensive.py
  src/mobile_multimodal/adaptive_quantization.py
  src/mobile_multimodal/advanced_validation.py
  src/mobile_multimodal/circuit_breaker.py
  src/mobile_multimodal/concurrent_processor.py
  src/mobile_multimodal/edge_federated_learning.py
  src/mobile_multimodal/hybrid_attention.py
  src/mobile_multimodal/intelligent_cache.py
  tests/test_advanced_features.py
Due: security-audit

feat(autonomous-sdlc): add comprehensive autonomous SDLC completion report and validations
  AUTONOMOUS_SDLC_COMPLETION_REPORT_FINAL.md
  comprehensive_validation.py
  generation1_validation.py
  generation2_robustness.py
  generation3_optimization.py
  generation3_simple_validation.py
  src/mobile_multimodal/adaptive_quantization.py
  src/mobile_multimodal/advanced_security.py
  src/mobile_multimodal/advanced_validation.py
  src/mobile_multimodal/batch_processor.py
  src/mobile_multimodal/circuit_breaker.py
  src/mobile_multimodal/concurrent_processor.py
  src/mobile_multimodal/enhanced_monitoring.py
  src/mobile_multimodal/intelligent_cache.py
  src/mobile_multimodal/monitoring.py
  src/mobile_multimodal/realtime_pipeline.py
  src/mobile_multimodal/robust_error_handling.py
  src/mobile_multimodal/security.py
Due: security-audit

feat: complete autonomous SDLC execution with production-ready mobile AI system
  .gitignore
  AUTONOMOUS_SDLC_COMPLETION_FINAL.md
  DEPLOYMENT_GUIDE.md
  README_SELF_HEALING_PIPELINE_GUARD.md
  SECURITY_POLICY.md
  demo_mobile_export.py
  demo_robust_monitoring.py
  demo_robust_validation.py
  demo_scaling_optimization.py
  demo_simple.py
  demo_simple_monitoring.py
  exports/android_deployment_config.json
  exports/export_metadata.json
  exports/ios_deployment_config.json
  mobile_config.json
  optimization_report.json
  security_compliance_fix.py
  security_compliance_report.json
  security_config.json
  security_quality_gates.py
  security_quality_report.json
  src/mobile_multimodal/robust_monitoring.py
  src/mobile_multimodal/robust_validation.py
  src/mobile_multimodal/scaling_optimization.py
  test_comprehensive_suite.py
  test_report.json
  validation_report.json
Due: security-audit

feat(mobile_multimodal): add comprehensive autonomous SDLC system with deployment and monitoring
  AUTONOMOUS_SDLC_COMPLETION_REPORT_MASTER.md
  AUTONOMOUS_SDLC_SUCCESS.txt
  GLOBAL_DEPLOYMENT_GUIDE_FINAL.md
  comprehensive_quality_validation.py
  deployment/production-deployment-final.yml
  src/mobile_multimodal/distributed_scaling.py
  src/mobile_multimodal/performance_benchmarks.py
  src/mobile_multimodal/production_monitoring.py
  src/mobile_multimodal/research_framework.py
  src/mobile_multimodal/security_hardening.py
  tests/test_research_validation.py
  validation_report.json
Due: security-audit

Autonomous SDLC Execution: Production-Ready Mobile Multi-Modal LLM with Security & Scaling (#25)
  .gitignore
  AUTONOMOUS_SDLC_COMPLETION_FINAL.md
  DEPLOYMENT_GUIDE.md
  README_SELF_HEALING_PIPELINE_GUARD.md
  SECURITY_POLICY.md
  demo_mobile_export.py
  demo_robust_monitoring.py
  demo_robust_validation.py
  demo_scaling_optimization.py
  demo_simple.py
  demo_simple_monitoring.py
  exports/android_deployment_config.json
  exports/export_metadata.json
  exports/ios_deployment_config.json
  mobile_config.json
  optimization_report.json
  security_compliance_fix.py
  security_compliance_report.json
  security_config.json
  security_quality_gates.py
  security_quality_report.json
  src/mobile_multimodal/robust_monitoring.py
  src/mobile_multimodal/robust_validation.py
  src/mobile_multimodal/scaling_optimization.py
  test_comprehensive_suite.py
  test_report.json
  validation_report.json
Due: security-audit

feat(quality_gates): add comprehensive quality gates and production readiness validation
  TERRAGON_AUTONOMOUS_SDLC_SUCCESS.md
  comprehensive_quality_gates.py
  production_readiness_report.json
  production_readiness_validator.py
  quality_gates_report.json
  src/mobile_multimodal/advanced_research_system.py
  src/mobile_multimodal/advanced_security_framework.py
  src/mobile_multimodal/autonomous_scaling_system.py
  src/mobile_multimodal/comprehensive_error_handler.py
  src/mobile_multimodal/quantum_optimization.py
Due: security-audit

feat(quality_gates): add comprehensive quality gates and production readiness validation (#27)
  TERRAGON_AUTONOMOUS_SDLC_SUCCESS.md
  comprehensive_quality_gates.py
  production_readiness_report.json
  production_readiness_validator.py
  quality_gates_report.json
  src/mobile_multimodal/advanced_research_system.py
  src/mobile_multimodal/advanced_security_framework.py
  src/mobile_multimodal/autonomous_scaling_system.py
  src/mobile_multimodal/comprehensive_error_handler.py
  src/mobile_multimodal/quantum_optimization.py
Due: security-audit

feat(autonomous-sdlc): add complete autonomous SDLC system with multi-generation enhancements
  AUTONOMOUS_SDLC_COMPLETION_MASTER_FINAL.md
  README_AUTONOMOUS_SDLC_FINAL.md
  comprehensive_quality_validator.py
  demo_generation1_enhanced.py
  demo_generation2_robust.py
  demo_generation3_optimized.py
  production_deployment_system.py
  src/mobile_multimodal/core.py
Due: security-audit
